<%- layout('layouts/boilerplate') %> 
<div class="card col-lg-5 my-5">
  <div class="card-body">
    <div class="row my-3">
      <h2 class="col-lg-5 d-inline">New Ticket</h2>
    </div>
    <form action="/project/<%= project._id %>/newTicket" method="POST" class="validated-form" novalidate>
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input class="form-control" type="text" name="ticket[title]" id="title" placeholder="Ticket Title" autocomplete="off" required>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" name="ticket[description]" id="description" cols="30" rows="4" placeholder="Ticket Description" required></textarea>
      </div>
      <div class="mb-3">
        <label for="priority" class="form-label">Priority</label>
        <select name="ticket[priority]" id="priority" class="form-select" required>
          <option value="Low">Low</option>
          <option value="Medium">Medium</option>
          <option value="High">High</option>
        </select>
      </div>
      <div class="mb-4">
        <label for="type" class="form-label">Type</label>
        <select name="ticket[type]" id="type" class="form-select" required>
          <option value="Bug">Bug</option>
          <option value="Feature Request">Feature Request</option>
          <option value="Issue">Issue</option>
        </select>
      </div>
      <button class="btn btn-primary">Create Ticket</button>
    </form>
  </div>
</div>

