body {
  color: #272727;
  font-family: 'Montserrat', sans-serif;
}

div#width.container {
  max-width: 100%;
}

div.login-card {
  margin-top: 5rem;
}

#logo {
  margin: 2rem;
}

.bold-text {
  font-weight: 700;
}

/* --- Background --- */

.bg-color {
  background: rgb(0,212,255);
  background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(9,9,121,1) 94%, rgba(5,0,98,1) 100%); 
  background-size: auto 100%;
}

/* --- Buttons --- */

.btn-primary {
  background-color: #0395d6;
  transition: all 0.3s ease-out;
}

/* --- Comments --- */

ul.comments {
  list-style-type: none;
  margin: 0;
  padding:0;
}

ul.comments p {
  margin: 0;
}

ul.comments p.comment-info {
  border-bottom: 1px solid black;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}


/* --- Navbar --- */

nav li .nav-link {
  letter-spacing: 0.3rem;
  margin-bottom: 0.6rem;
  transition: all 0.3s ease-out;
}

nav li .nav-link:hover {
  color: #090979;
  text-shadow: 0px 20px 12px rgba(9, 9, 121, 0.8);      
}

nav li:last-of-type .nav-link {
  color: #ff0000;
}

nav li:last-of-type .nav-link:hover {
  color: #c90000;
  text-shadow: 0px 20px 12px rgba(201, 0, 0, 0.8);     
}
/* navbar right shadow */
main {
  box-shadow: 4px 3px 5px 3px rgba(0,0,0,0.24) inset;
}

/* --- Tables --- */

table a {
  color: #272727;
  text-decoration: none;
}

table a:hover {
  color: #0395d6;
  transition: all 0.2s ease-out;
}

/* --- Sizing --- */

@media (max-width: 1300px) {
  #logo {
    height: 180px;
  }
  
  #logo img {
    height: 100%;
  }
}

@media (max-width: 1200px) {
  #logo {
    height: 140px;
  }
  #logo img {
    height: 100%;
  }
}

@media (max-width: 990px) {
  #logo {
    height: 112px;
  }
  #logo img {
    height: 100%; 
  }
  nav li .nav-link {
    letter-spacing: 0.2rem;
  }
}

@media (max-width: 880px) {
  #logo {
    height: 90px;
  }
  #logo img {
    height: 100%;
  }
}

@media (max-width: 766px) {
  #logo {
    margin: auto;
    height: 150px;
  }
  #logo img {
    height: 100%;
  }
  nav li .nav-link {
    margin-right: 2rem;
  }
  
  nav li:last-of-type .nav-link {
    border-right: none;
  }
}

@media (max-width: 576px) {
  nav li .nav-link {
    letter-spacing: 0.1rem;
    margin-right: 0;
  }
}